.register-popup {
  width: 557px;
  height: 711px;
  border-radius: 20px;
  background-color: white;
  color: #303f60;
  filter: drop-shadow(0px 10px 36px #557da526);
}

.form-header {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 22px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 29px 30px;
}

.user-role-container {
  display: flex;
  flex-direction: column;
}

.password-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 25px;
  margin-top: 0px;
}

.inline {
  display: inline-flex;
}

.margin-top {
  margin-top: 20px;
}

.role-choice-container {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.button {
  background: #e8e8e833;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  opacity: 1;
  width: 136px;
  height: 46px;
  font-size: 16px;
}

.active {
  background: #43afff 0% 0% no-repeat padding-box;
  border: 1px solid #43afff;
  color: white;
}

.margin-right {
  margin-right: 20px;
}

.submit {
  margin-top: 11px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.margin-5 {
  margin-left: 5px;
}
