.container {
  color: white !important;
  --bg-color2: #303f60;
  height: 40vh;
  background: var(--bg-color2);
}

.header {
  display: flex;
  width: 100%;
}

.header-left {
  margin: 22px 70px;
  font-weight: 600;
  font-size: 22px;
}

.header-right {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.color-highlight {
  color: #43afff;
}

.login-button {
  background: hsla(206, 100%, 63%, 0.2);
  width: 148px;
  height: 46px;
  border: 1px solid #43afff;
  border-radius: 5px;
  margin-right: 70px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.horizontal-rule {
  background-color: white;
  margin-left: 70px;
  margin-right: 70px;
}

.children {
  display: flex;
  justify-content: center;
}
