.forgot-password-popup {
  width: 557px;
  height: 318px;
  background-color: white;
  color: #303f60;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 36px #557da526);
}

.form-header {
  font-size: 22px;
  margin-left: 30px;
  margin-top: 30px;
  font-weight: 600;
}

.message {
  text-align: left;
  font-size: 14px;
  margin: 20px 30px;
  font-weight: 400;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30px 25px;
}

.submit-button {
  background-color: #43afff;
  color: white;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  width: 136px;
  font-size: 16px;
  height: 46px;
}

.footer {
  margin-top: 15px;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
